nux ###
.*
!.gitignore
!.git*
*~


### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/


### Java ###
*.class

# Package Files #
*.war
*.ear


### NetBeans ###
**/nbproject/private/
build/
nbbuild/
dist/
nbdist/
nb-configuration.xml


# JSF
faces-config.NavData


### Maven ###
target/

# Git Maven Plugin
git.properties


